footer{
  background: url(../../src/assets/img/chris-lawton.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
  .copyright{
    color: $third;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
}