footer{
  background: url(../../src/assets/img/chris-lawton.jpg);
  background-position: center center;
  background-size: cover;
  .copyright{
    text-align: center;
    color: $third;
    padding-bottom: 10px;
  }
}