body{
  font-family: 'Mulish', sans-serif;
  font-size: $m;
  font-weight: 600;
  letter-spacing: $xs;
  line-height: $l;
  color: $primary;
  background-color: $secondary;
  //overflow-x: hidden;
  margin: 0 auto;

  a{
    text-decoration: none;
    color: $third;
    transition-duration: 300ms;
    &:hover{
      color: $accent;
    }
  }

  button{
    cursor: pointer;
  }
}